.cont {
  height: 500px;
  background-color: #fbf7e3;
  display: flex;
  object-fit: cover;
  border-radius: 20px;
}
img {
  width: 50%;
  padding: 20px;
}

.description {
  color: #612406;
  font-size: 18px;
}

@media screen and (max-width: 576px) {
  .cont {
    flex-wrap: wrap-reverse;
    height: 850px;
  }
  img {
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
  }
  .description {
    padding: 20px;
    color: #673018;
  }
  h3 {
    margin-top: 30px;
    font-size: 30px;
    color: #673018;
  }
}
