nav {
  width: 90%;
  height: 150px;

  background-color: #fbf7e3;
  display: flex;
  border-radius: 100px;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-cont {
  width: 200px;
  height: 60px;
  margin: auto;
  background-color: #f3df85;
  text-align: center;
  font-size: 20px;
  border-radius: 30px;
}

.nav-cont:nth-child(3) {
  height: 100px;
  border-radius: 60px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

p {
  margin: auto;
  margin-top: 15px;
  color: #673018;
}

h3 {
  margin: auto;
  font-size: 30px;
  color: #673018;
}

#img {
  height: 80px;
  margin-left: 15px;
  margin-top: 7px;
}
